name: Java CI with Maven

on:
  push:
    branches:
      - "*" # 所有分支
    tags:
      - "v*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

permissions:
  contents: write
  discussions: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: "temurin"
          cache: maven
      - name: Build with Maven
        run: mvn -B clean package --no-transfer-progress
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CatSeedLogin
          path: target/CatSeedLogin*.jar
      - name: Create Release and Upload Release Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/CatSeedLogin*.jar
